<h1>{{title}}</h1>

<ng-template [ngIf]="playGame" [ngIfElse]="inviteToStartGame">
  <div>
    <app-game
      [isPlayerTurn]="isPlayerTurn"
      [playerIsKings]="playerIsKings"
      [playerIsCols]="playerIsCols"

      (gameFinished)="onGameFinished($event)"
    ></app-game>
  </div>
</ng-template>

<ng-template #inviteToStartGame>
  <div>
    <p>Would you like to play Dracula?</p>
    <button type="startGame" name="startGame" (click)="startGame()">Play</button>
  </div>
  <div class="gameSettings">
    <p>Would you like your turn to be first? (default is second)
    <label class="switch">
      <input type="checkbox" id="isPlayerTurn" (change)="isPlayerTurn=!isPlayerTurn">
      <span class="slider round"></span>
    </label></p>
    <p>Would you like to be Kings? (default is Queens)
    <label class="switch">
      <input type="checkbox" id="playerIsKings" (change)="playerIsKings=!playerIsKings">
      <span class="slider round"></span>
    </label></p>
    <p>Would you like to score on the columns? (default is rows)
    <label class="switch">
      <input type="checkbox" id="playerIsCols" (change)="playerIsCols=!playerIsCols">
      <span class="slider round"></span>
    </label></p>
  </div>
</ng-template>

<router-outlet></router-outlet>
