<div class="scores">
  <app-scores
    [playerScores]="playerScores"
    [opponentScores]="opponentScores"
    [round]="round"
  ></app-scores>
</div>

<div>
  <ng-template [ngIf]="roundCurrentlyBeingPlayed" [ngIfElse]="inviteToStartRound">
    <div class="board">
      <app-board
        [boardConfiguration]="boardConfiguration"
        [handCardSelected]="handCardSelected"
        [selectedHandCard]="selectedHandCard"
        [playerIsKings]="playerIsKings"
        [playerIsCols]="playerIsCols"
        (handCardPlayed)="onHandCardPlayed($event)"
        (scoresUpdated)="onScoresUpdated($event)">
      </app-board>
    </div>
  </ng-template>
  <ng-template #inviteToStartRound>
    <div>
      <button (click)="startNextRound()">Start Next Round</button>
    </div>
  </ng-template>
</div>

<div class="hand">
  <app-hand [handCards]="handCards" [isPlayerTurn]="isPlayerTurn" (forwardSelectedCard)="onForwardSelectedCard($event)"></app-hand>
</div>
