<div>
  <table>
    <tr>
      <td class="blank"></td>
      <td class="colScore" id="col1Score"><app-line-score [isKing]="isKing" [lineCards]="col1"></app-line-score></td>
      <td class="colScore" id="col2Score"><app-line-score [isKing]="isKing" [lineCards]="col2"></app-line-score></td>
      <td class="colScore" id="col3Score"><app-line-score [isKing]="isKing" [lineCards]="col3"></app-line-score></td>
    </tr>
    <tr>
      <td class="rowScore" id="row1Score"><app-line-score [isKing]="!isKing" [lineCards]="row1"></app-line-score></td>
      <td><app-card [card]="card1" (selectCard)="onSelectCard1($event)"></app-card></td>
      <td><app-card [card]="card2" (selectCard)="onSelectCard2($event)"></app-card></td>
      <td><app-card [card]="card3" (selectCard)="onSelectCard3($event)"></app-card></td>
    </tr>
    <tr>
      <td class="rowScore" id="row2Score"><app-line-score [isKing]="!isKing" [lineCards]="row2"></app-line-score></td>
      <td><app-card [card]="card4" (selectCard)="onSelectCard4($event)"></app-card></td>
      <td><app-card [card]="card5" (selectCard)="onSelectCard5($event)"></app-card></td>
      <td><app-card [card]="card6" (selectCard)="onSelectCard6($event)"></app-card></td>
    </tr>
    <tr>
      <td class="rowScore" id="row3Score"><app-line-score [isKing]="!isKing" [lineCards]="row3"></app-line-score></td>
      <td><app-card [card]="card7" (selectCard)="onSelectCard7($event)"></app-card></td>
      <td><app-card [card]="card8" (selectCard)="onSelectCard8($event)"></app-card></td>
      <td><app-card [card]="card9" (selectCard)="onSelectCard9($event)"></app-card></td>
    </tr>
  </table>
</div>
